$Inter: 'Inter', sans-serif;   
$Sarabun: 'Sarabun', sans-serif;
$color: #000000;
$color-1: #333333;
$color-2: #888888;
$color-3: #BBBBBB;
$color-4: #EEEEEE;
$color-5: #be3a45;
$color-transparent-1: #3333335c;
$bg-transparent-1: #3333334d;